<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://unpkg.com/vuetify@3.6.6/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>SetsCounter Application © AMUS IT Support / AMU'S</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app image="2275137.jpg" density="prominent">
                <!-- ヘッドバー  -->
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>
                    SetsCounter
                </v-toolbar-title>
            </v-app-bar>

            <v-navigation-drawer v-model="drawer" app>
                <!-- サイドメニューバー  -->
                <v-expansion-panels>
                    <v-expansion-panel>
                        <a href="https://ntl.amus.biz" target="_blank">ntl.amus.biz</a>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <a href="https://www.amus.biz" target="_blank">www.amus.biz</a>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <a href="https://www.ac-illust.com/main/detail.php?id=2275137&word=%E3%83%97%E3%83%A9%E3%83%B3%E3%82%AF%E3%80%80%E5%A5%B3%E6%80%A7"
                            target="_blank">イラスト素材せいじんさん</a>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-navigation-drawer>

            <v-main>
                <!-- メインコンテンツ  -->
                <v-container>
                    <v-row>
                        <v-spacer></v-spacer>
                        <v-spacer></v-spacer>
                        <v-col><v-sheet class="pa-2 ma-2">
                                © AMUS IT Support
                            </v-sheet></v-col>
                        <v-col><v-sheet class="pa-2 ma-2">
                                / AMU'S
                            </v-sheet></v-col>
                    </v-row>
                </v-container>
                <v-container class="bg-surface-variant">
                    <v-text-field v-model="sets" :disabled="loading" label="Sets" clearable></v-text-field>
                    <v-text-field v-model="seconds" :disabled="loading" label="Seconds" clearable></v-text-field>
                    <v-btn :disabled="loading" :loading="loading" @click="start">
                        Start
                    </v-btn>
                </v-container>
                {{time}}
            </v-main>
            <div class="text-center pa-4">
                <v-dialog v-model="dialog" location="center">
                    <v-card max-width="400" prepend-icon="mdi-update" :text="'残り' + seconds + '秒'"
                        title="Update in progress" class="mx-auto">
                        <div class="svg-container">
                            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                <circle id="circle" cx="100" cy="100" r="80" stroke="black" stroke-width="8" fill="none"
                                    class="circle" />
                                <text x="100" y="116" id="number"></text>
                            </svg>
                        </div>
                        <template v-slot:actions>
                            <v-btn class="ms-auto" text="Ok" :disabled="loading" :loading="loading"
                                @click="dialog = false"></v-btn>
                        </template>
                    </v-card>
                </v-dialog>
            </div>
        </v-app>
    </div>

    <script src="index.js"></script>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vuetify@3.6.6/dist/vuetify.min.js"></script>
    <script lang="ts">
        const vuetify = Vuetify.createVuetify()
        const app = Vue.createApp({
            data() {
                return {
                    visual: false,
                    info: {
                        name: "",
                        nickname: "",
                        gender: "",
                    },
                    drawer: false,
                    loading: false,
                    dialog: false,
                    sets: 1,
                    secondsDefault: 30,
                    seconds: 0,
                    time: null,
                    timer: null,
                };
            },
            methods: {
                start() {
                    this.loading = true
                    this.dialog = true
                    this.time = new Date()
                    this.timer = setInterval(this.setSeconds, 1000)
                },
                setSeconds() {
                    this.seconds--
                    if (Number(this.seconds) <= 0) {
                        clearInterval(this.timer)
                        this.seconds = this.secondsDefault
                        this.sets++
                        this.loading = false
                        this.dialog = false
                    }
                },
            },
            mounted() {
                this.seconds = this.secondsDefault
            }
        });
        app.use(vuetify).mount('#app');
    </script>
</body>

</html>
<style>
</style>
